html, body, #container, #svg {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background: #000000;
}
#container {
  display: flex;
  align-items: center;
  justify-content: center;
}
text {
  fill: #FFFFFF;
}
/* Hide SVG to avoid flash of unstyled content */
#svg {
	visibility: hidden;
}